#blog {
  margin-bottom: 100px;
}

.h1-blog,
.title-blog {
  margin-left: 15%;
}

.content-blog {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
}

.card-blog {
  width: 33%;
  margin: 5%;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.img-card-blog {
  width: 100%;
  border-radius: 10px 10px 0 0;

}

.card-body-blog {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  height: 40%;
}

.texr-box-blog {
  border: 1px solid black;
  height: 50%;
}



.card-footer {
  display: flex;
  justify-content: space-between;
  line-height: 100%;
  font-size: 10px;
  border: 1px solid black;
  height: 50%;

}

.date-blog,.hushtag-blog {
  vertical-align: middle;
  border: 1px solid black;
}